<div class="ui form">
  <%= form_with(model: @swit, remote: true) do |form| %>
    <div class="field">
      <label>Post Something</label>
      <%= form.text_area :content, id: :swit_content, maxlength: 200 , rows: 3%>
    </div>
    <div class="lblCounter counter">
    Character left: <span id="counter" class="counter" data-maximum-length = 140><%= @maximum_length %></span>
    </div>
    <div class="actions">
      <%= form.submit nil, :class=>'ui teal button' %>
    </div>
  <% end %>
</div>

<script>
$(document).ready(function() {
  var content = $("#swit_content");
  var counter     = $("#counter");
  var max_length  = counter.data("maximum-length");
  counter.text(max_length - content.val().length);
 
  content.keyup(function() {
  counter.text(max_length - $(this).val().length)
  });
});
</script>