// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.date{
    color: gray;
    font-size: 10px;
}

.counter{
    color: gray;
    text-align: right;
}

.lblCounter{
    color: teal;
}

