
<% if flash[:notice] %>
<div class="ui green message notice ui very padded text container">
    <i class="info icon"></i><%= notice %>
</div>
<% elsif flash[:alert] %>
<div class="ui red message alert ui very padded text container">
    <i class="warning sign icon"></i> <%= alert %>
</div>
<% else %>

<% end %>     

    